.logo {
    padding-top: 40px;
    padding-left: 10px;
}

@media (min-width: 576px) {
    .logo {
        padding-left: 40px;
        margin-bottom: 30px;
    }

    .title {
        display: inline;
        vertical-align: bottom;
        padding-left: 20px;
    }
}

html, body {
    background: #F0F0F0;
}
.container {
    background: white;
    position: relative;
    margin: 20px auto;
    padding: 0 30px;
}